.headerCard {
  position: fixed;
  text-align: center;
  width: 100%;
  height: 140px;
  z-index: 5;
  color: #fff;
  background-color: #00bcd4 !important;
  padding: 30px;
  user-select: none;
  pointer-events: none;
}

.elosLogo {
  width: 200px;
  height: auto;
}

.title {
  color: white;
  margin: 20px 0 0 0;
}

.planetTitle {
  font-weight: 100;
}

.managerTitle {
  font-weight: inherit;
}

.navSpan {
  height: 140px;
}
